fastapi
uvicorn
sqlalchemy
psycopg[binary]
python-jose[cryptography]
bcrypt
psycopg2-binary
alembic
pydantic-settings
pydantic[email]
python-dotenv
pytest
pytest-asyncio
pytest-cov
slowapi
httpx
PyJWT
httpx2
ruff
black